@media (max-width: 767px) {
  [data-layout="layout-1"] {
    width: 100%;

    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      position: relative;

      .left-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 16rem; /* Equivalent to w-64 */
        z-index: 10;
        transform: translateX(-16rem); /* -translate-x-64 */
        transition: transform 0.3s ease-in-out;
      }

      .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 0;
      }
    }

    &[data-collapsed="true"] {
      .left-sidebar {
        transform: translateX(0);
      }
    }
  }
}

@media (min-width: 768px) {
  [data-layout="layout-1"] {
    width: 100%;

    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: stretch;

      .left-sidebar {
        width: 100%;
        min-width: calc(4px * 16); /* Equivalent to theme('spacing.1') * 16 */
        max-width: calc(4px * 64); /* Equivalent to theme('spacing.1') * 64 */
        transition: max-width 0.25s ease-in-out;
      }

      .main {
        min-width: calc(100% - (4px * 64)); /* Equivalent to 100% - theme('spacing.1') * 64 */
        display: flex;
        flex-direction: column;
      }
    }

    &[data-collapsed="false"] {
      .left-sidebar {
        max-width: calc(4px * 64); /* Equivalent to theme('spacing.1') * 64 */
      }
    }

    &[data-collapsed="true"] {
      .left-sidebar {
        max-width: calc(4px * 16); /* Equivalent to theme('spacing.1') * 16 */
      }
    }
  }
}
ul {
  list-style: default !important;
}