.user-widget-2 {
  .user-img {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 1) !important;
    transform: translateY(-1.75rem); /* Adjusted for vertical translation */
  }
}

[data-background="light"] {
  .user-widget-2 {
    .bottom-section {
      background-color: #ffffff; /* bg-white */
    }
  }
}

[data-background="dark"] {
  .user-widget-2 {
    .bottom-section {
      background-color: #1f2937; /* gray-900 tint(5%) equivalent */
    }
  }
}
