.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  w-320px;
  p-0px 15px;
  max-h-calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}

.notification {
  box-sizing: border-box;
  p-15px;
  rounded-2px;
  text-#fff;
  background-text-theme('colors.gray.200');
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  text-1em;
  line-h-1.2em;
  position: relative;
  opacity: 0.9;
  margin-top: 15px;
}
.notification .title {
  text-1em;
  line-h-1.5em;
  font-weight: bold;
  m-0 0 5px 0;
}
.notification:hover,
.notification:focus {
  opacity: 1;
}

.notification-enter {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
}

.notification-enter.notification-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s;
}

.notification-leave {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.notification-leave.notification-leave-active {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s;
}

.notification-info {
  background-text-theme('colors.blue.500');
}
.notification-success {
  background-text-theme('colors.green.500');
}
.notification-warning {
  background-text-theme('colors.yellow.500');
}
.notification-error {
  background-text-theme('colors.red.500');
}
