.rc-slider {
  position: relative;
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  touch-action: none;
  height: 14px;
  padding: 5px 0;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #e5e7eb; /* gray-200 */
  border-radius: 6px;
  height: 4px;
}

.rc-slider-track {
  position: absolute;
  left: 0;
  background-color: #3b82f6; /* blue-500 */
  border-radius: 6px;
  height: 4px;
}

.rc-slider-handle {
  position: absolute;
  cursor: grab;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #1d4ed8; /* blue-700 */
  width: 14px;
  height: 14px;
  margin-top: -5px;
  touch-action: pan-x;
}

.rc-slider-handle:active {
  border-color: #3b82f6; /* blue-500 */
  box-shadow: 0 0 5px #3b82f6; /* blue-500 */
  cursor: grabbing;
}

.rc-slider-mark {
  position: absolute;
  width: 100%;
  font-size: 12px;
  top: 18px;
}

.rc-slider-mark-text {
  position: absolute;
  color: #6b7280; /* gray-500 */
  text-align: center;
  cursor: pointer;
}

.rc-slider-dot {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #e5e7eb; /* gray-200 */
  cursor: pointer;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  bottom: -2px;
}

.rc-slider-dot-active {
  border-color: #1d4ed8; /* blue-700 */
}

.rc-slider-disabled {
  background-color: #e5e7eb; /* gray-200 */
}

.rc-slider-disabled .rc-slider-track {
  background-color: #6b7280; /* gray-500 */
}

.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #6b7280; /* gray-500 */
  background-color: #fff;
  cursor: not-allowed;
  box-shadow: none;
}

.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}

.rc-slider-tooltip {
  position: absolute;
  visibility: visible;
  box-sizing: border-box;
  left: -9999px;
  top: -9999px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider-tooltip-inner {
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: #6b7280; /* gray-500 */
  border-radius: 6px;
  box-shadow: 0 0 4px #6b7280; /* gray-500 */
  height: 24px;
  padding: 6px 2px;
  line-height: 1;
  min-width: 24px;
}

.rc-slider-tooltip-arrow {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  width: 0;
  height: 0;
}

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6b7280; /* gray-500 */
}

[data-background="light"] .rc-slider-rail {
  background-color: #e5e7eb; /* gray-200 */
}

[data-background="dark"] .rc-slider-rail {
  background-color: #1f2937; /* gray-800 */
}

.slider-blue .rc-slider-track {
  background-color: #3b82f6; /* blue-500 */
}

.slider-blue .rc-slider-handle {
  border-color: #2563eb; /* blue-600 */
}

.slider-blue .rc-slider-handle:active {
  border-color: #1d4ed8; /* blue-700 */
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
